.product-and-searchbar-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.product-text{
    font-family: 'Roboto';
}

.align-container-searchbar-product-items{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.folder-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
  
.search-and-comment-setting-icons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-button{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: none;
    background-color: #ffffff;
    border-radius: 5px;
    margin-left: 10px;
}